@model Timetable_DateSheet_Generator.Models.Programs
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="display:none" id="Click_Delete" class="=btn btn-primary" data-toggle="modal" data-target="#modal-lg_Delete"></div>
<div class="modal fade" id="modal-lg_Delete">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Program Regular Timings</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body">
                    <input type="hidden" asp-for="ProgramID" />
                    <div class="input-group mb-3">
                        <div class="col-sm-12">
                            <p>
                                Are you sure to delete @Model.ProgramName (Time Slots) ?.All the information related to @Model.ProgramName (Time Slots) will be deleted.
                                <br /> <b>Total Timing Slots: @ViewBag.TotalTimings;</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    $(document).ready(function () {

        document.getElementById('Click_Delete').click();

    });
</script>
