@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Timetable_DateSheet_Generator.Models.OfferedCourses
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="display:none" id="Click_Edit" class="=btn btn-primary" data-toggle="modal" data-target="#modal-lg_Edit"></div>
<div class="modal fade" id="modal-lg_Edit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Course Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit" method="post">
                <div class="modal-body">
                    <input type="hidden" asp-for="OfferedCourseID" />
                    <div class="text-danger">@ViewBag.Message</div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group mb-6">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-university" style="color:#17a2b8"></i></span>
                                </div>
                                <select class="form-control" id="institute" asp-items="ViewBag.Institutes" onchange="loadDepartments()">
                                    <option selected value="">Select Institute</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-school" style="color:#17a2b8"></i></span>
                                </div>
                                <select id="department" asp-items="ViewBag.Departments" onchange="loadPrograms()" class="form-control">
                                    <option selected value="">Select Department</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-graduation-cap" style="color:#17a2b8"></i></span>
                                </div>
                                <select id="program" asp-for="ProgramID" class="form-control" asp-items="ViewBag.Programs" required>
                                    <option selected value="">Select Program</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-school" style="color:#17a2b8"></i></span>
                                </div>
                                <select id="department1" asp-items="ViewBag.Departments1" asp-for="DepartmentID" required class="form-control">
                                    <option selected value="">Select Department</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-chalkboard-teacher" style="color:#17a2b8"></i></span>
                                </div>
                                <select id="faculty" asp-items="ViewBag.FacultyMembers" asp-for="FacultyMemberID" required class="form-control">
                                    <option selected value="">Select Faculty Member</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-list-ol" style="color:#17a2b8"></i></span>
                                </div>
                                <select asp-items="ViewBag.Semesters" asp-for="SemesterID" required class="form-control">
                                    <option disabled selected value="">Select Semester</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-book-open" style="color:#17a2b8"></i></span>
                                </div>
                                <input asp-for="OfferedCourseTitle" placeholder="Course Title" required class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar-check" style="color:#17a2b8"></i></span>
                                </div>
                                <input type="number" asp-for="OfferedCourseCreditHours" placeholder="Credit Hours" min="1" step="0.25" max="9" required class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock" style="color:#17a2b8"></i></span>
                                </div>
                                <input type="number" asp-for="OfferedCourseContactHours" placeholder="Contact Hours" min="1" step="0.25" max="9" required class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-list-alt" style="color:#17a2b8"></i></span>
                                </div>
                                <select asp-items="@Html.GetEnumSelectList<OfferedCourses.CourseCategoryOptions>()" asp-for="OfferedCourseCategory" required class="form-control">
                                    <option disabled selected value="">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-check" style="color:#17a2b8"></i></span>
                                </div>
                                <select asp-items="@Html.GetEnumSelectList<OfferedCourses.CourseTypeOptions>()" asp-for="OfferedCourseSpecial" required class="form-control">
                                    <option disabled selected value="">Select Course Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-alpha-up" style="color:#17a2b8"></i></span>
                                </div>
                                <input asp-for="OfferedCourseSection" placeholder="Course Section" onkeypress="return /[A-Z]/i.test(event.key)" maxlength="1" required class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-sort-numeric-down" style="color:#17a2b8"></i></span>
                                </div>
                                <input class="form-control" placeholder="Semester No" asp-for="OfferedCourseSemesterNo" min="0" step="1" oninput="validity.valid||(value='');" max="9" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info"><i class="fa fa-sync"></i> Update Record</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function loadDepartments() {
        var options = [];

        $.ajax({
            type: "POST",
            url: "/Administration/OfferedCourses/getDepartments?institute=" + $("#institute :selected").val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Data) {
                options.push('<option value=""> Select Department</option>')
                for (var i = 0; i < Data.length; i++) {
                    options.push('<option value="',
                        Data[i].id, '">',
                        Data[i].name, '</option>');
                }
                $("#department").html(options.join(''));
                $("#department1").html(options.join(''));
            },
            error: function () {  }
        });
        loadFaculties();
        loadPrograms();
    }
    function loadFaculties() {
        var options = [];

        $.ajax({
            type: "POST",
            url: "/Administration/OfferedCourses/getFaculties?institute=" + $("#institute :selected").val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Data) {
                options.push('<option value=""> Select Faculty</option>')
                for (var i = 0; i < Data.length; i++) {
                    options.push('<option value="',
                        Data[i].id, '">',
                        Data[i].name, '</option>');
                }
                $("#faculty").html(options.join(''));
            },
            error: function () { }
        });
    }
    function loadPrograms() {
        var options = [];

        $.ajax({
            type: "POST",
            url: "/Administration/OfferedCourses/getPrograms?institute=" + $("#institute :selected").val() + "&department=" + $("#department :selected").val(),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Data) {
                options.push('<option value=""> Select Program</option>')
                for (var i = 0; i < Data.length; i++) {
                    options.push('<option value="',
                        Data[i].id, '">',
                        Data[i].name, '</option>');
                }
                $("#program").html(options.join(''));
            },
            error: function () { }
        });
    }
    $(document).ready(function () {
        document.getElementById('Click_Edit').click();
    });
</script>
